openapi: 3.1.0
info:
  title: Permutive Cohorts Identity API
  version: '2.0'
  description: Permutive is an agentic data collaboration and activation platform for premium publishers, advertisers and agencies. This OpenAPI description was DERIVED by API Evangelist from Permutive's public developer documentation (https://developer.permutive.com/) — the operation set, paths, HTTP methods, titles and descriptions are taken verbatim from the published API reference; request/response schemas are lightly modeled where the docs do not publish a machine-readable spec. It is a discovery aid, not the authoritative Permutive contract.
  contact:
    name: Permutive Developer Support
    url: https://developer.permutive.com/
  x-apievangelist-generated: '2026-07-20'
  x-apievangelist-method: derived
  x-apievangelist-source: https://developer.permutive.com/
servers:
- url: https://api.permutive.com
  description: Permutive API host
security:
- ApiKeyAuth: []
tags:
- name: Identity
  description: Create user IDs and associate identities with a Permutive user.
paths:
  /users:
    post:
      tags:
      - Identity
      operationId: createUserId
      summary: Create a user ID
      description: Generates a new user ID that can be used to identify a user within Permutive.
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /identify:
    post:
      tags:
      - Identity
      operationId: identifyUser
      summary: Identify a user
      description: Associate one or more identities with a Permutive user, allowing you to identify users across your platforms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /users/{userId}/aliases:
    get:
      tags:
      - Identity
      operationId: retrieveIdentities
      summary: Retrieve identities
      description: Retrieves all identities available for a given user.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    IdentifyRequest:
      type: object
      properties:
        user_id:
          type: string
        aliases:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              tag:
                type: string
              priority:
                type: integer
    Problem:
      type: object
      description: Error payload.
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  responses:
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    OK:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
    ServerError:
      description: An unexpected error occurred on Permutive's side.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: Permutive workspace API key supplied as a bearer token. See https://developer.permutive.com/api/authentication for the exact header and key-provisioning details.
