openapi: 3.1.0
info:
  title: Permutive API
  version: '2.0'
  description: >-
    Permutive is an agentic data collaboration and activation platform for
    premium publishers, advertisers and agencies. This OpenAPI description was
    DERIVED by API Evangelist from Permutive's public developer documentation
    (https://developer.permutive.com/) — the operation set, paths, HTTP methods,
    titles and descriptions are taken verbatim from the published API reference;
    request/response schemas are lightly modeled where the docs do not publish a
    machine-readable spec. It is a discovery aid, not the authoritative
    Permutive contract.
  contact:
    name: Permutive Developer Support
    url: https://developer.permutive.com/
  x-apievangelist-generated: '2026-07-20'
  x-apievangelist-method: derived
  x-apievangelist-source: https://developer.permutive.com/
servers:
  - url: https://api.permutive.com
    description: Permutive API host
tags:
  - name: Events
    description: Track first-party behavioural events into Permutive.
  - name: Identity
    description: Create user IDs and associate identities with a Permutive user.
  - name: Contextual
    description: Retrieve contextual cohort targeting values for ad-server integration.
  - name: Segmentation
    description: Cohort-based Segmentation (CCS) — evaluate a user's events into cohorts.
  - name: Cohorts
    description: Create, read, update and delete audience cohorts.
  - name: Taxonomy
    description: Manage second-party data imports and their segment taxonomy.
paths:
  /events:
    post:
      tags: [Events]
      operationId: trackEvent
      summary: Track an event
      description: >-
        Creates a new event for a user, persisting the event in Permutive for
        downstream segmentation and activation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /users:
    post:
      tags: [Identity]
      operationId: createUserId
      summary: Create a user ID
      description: Generates a new user ID that can be used to identify a user within Permutive.
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /identify:
    post:
      tags: [Identity]
      operationId: identifyUser
      summary: Identify a user
      description: >-
        Associate one or more identities with a Permutive user, allowing you to
        identify users across your platforms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyRequest'
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /users/{userId}/aliases:
    get:
      tags: [Identity]
      operationId: retrieveIdentities
      summary: Retrieve identities
      description: Retrieves all identities available for a given user.
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /ctx/v1/segment:
    post:
      tags: [Contextual]
      operationId: getContextualSegments
      summary: Get contextual segments
      description: Retrieve contextual cohort targeting values for ad-server integration.
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /ccs/v1/segmentation:
    post:
      tags: [Segmentation]
      operationId: segmentUser
      summary: Segment user
      description: >-
        Accepts a list of events for a given user and combines them with any
        pre-existing state to determine the cohorts the user belongs to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentationRequest'
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /ccs/v1/segmentation/stateless:
    post:
      tags: [Segmentation]
      operationId: statelessSegmentation
      summary: Stateless segmentation
      description: >-
        Accepts a list of events for a given user and optionally some
        pre-existing state for the user, and returns the cohorts the user
        belongs to without persisting state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentationRequest'
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v2/cohorts:
    post:
      tags: [Cohorts]
      operationId: createCohort
      summary: Create a cohort
      description: >-
        Creates a new cohort. The query definition is provided using Permutive's
        cohort query format. The cohort is created in the workspace which owns
        the provided API key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
      responses:
        '201': { $ref: '#/components/responses/Created' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/ServerError' }
    get:
      tags: [Cohorts]
      operationId: getCohorts
      summary: Retrieve all cohorts
      description: >-
        By default returns all cohorts belonging to the workspace to which the
        supplied API key belongs.
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v2/cohorts/{cohortId}:
    get:
      tags: [Cohorts]
      operationId: getCohort
      summary: Retrieve individual cohort
      description: >-
        Returns details of a single cohort belonging to the workspace that owns
        the provided API key.
      parameters:
        - name: cohortId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    patch:
      tags: [Cohorts]
      operationId: updateCohort
      summary: Update a cohort
      description: >-
        Updates an existing cohort. Depending on the access level of the
        provided API key, some fields may be immutable.
      parameters:
        - name: cohortId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    delete:
      tags: [Cohorts]
      operationId: deleteCohort
      summary: Delete a cohort
      description: >-
        Deletes an existing cohort. Depending on the access level of the
        provided API key, deletion may be restricted.
      parameters:
        - name: cohortId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Cohort deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /imports:
    get:
      tags: [Taxonomy]
      operationId: getImports
      summary: Get all imports
      description: Retrieves all second-party data imports available to the workspace.
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /imports/{importId}:
    get:
      tags: [Taxonomy]
      operationId: retrieveImport
      summary: Retrieve an import
      description: Retrieves a single second-party data import by its identifier.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /imports/{importId}/segments:
    get:
      tags: [Taxonomy]
      operationId: getSegmentsForImport
      summary: Get all segments for an import
      description: >-
        Retrieves all segments for an import. This is a paginated endpoint and
        takes an optional pagination cursor.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    post:
      tags: [Taxonomy]
      operationId: createSegment
      summary: Create a segment
      description: Creates a new segment within the given import.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
      responses:
        '201': { $ref: '#/components/responses/Created' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    patch:
      tags: [Taxonomy]
      operationId: batchUpdateSegments
      summary: Batch update segments
      description: >-
        Applies a batch of segment operations. Operation order is not
        guaranteed and no more than 5,000 operations can be contained in a
        single request.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /imports/{importId}/segments/{segmentId}:
    get:
      tags: [Taxonomy]
      operationId: getSegmentById
      summary: Get a segment by its public ID
      description: >-
        Retrieves a single segment for a given import, identified by its
        globally unique public ID.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    patch:
      tags: [Taxonomy]
      operationId: updateSegmentById
      summary: Update a segment by its public ID
      description: Updates a segment for an import, identified by its globally unique public ID.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    delete:
      tags: [Taxonomy]
      operationId: deleteSegmentById
      summary: Delete a segment by its public ID
      description: Deletes a segment for an import, identified by its globally unique public ID.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Segment deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /imports/{importId}/segments/code/{segmentCode}:
    get:
      tags: [Taxonomy]
      operationId: getSegmentByCode
      summary: Get a segment by its code
      description: Retrieves a single segment for a given import, identified by its code.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentCode
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    patch:
      tags: [Taxonomy]
      operationId: updateSegmentByCode
      summary: Update a segment by its code
      description: Updates a segment for an import, identified by its code.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentCode
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OK' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
    delete:
      tags: [Taxonomy]
      operationId: deleteSegmentByCode
      summary: Delete a segment by its code
      description: Deletes a segment for an import, identified by its code.
      parameters:
        - name: importId
          in: path
          required: true
          schema: { type: string }
        - name: segmentCode
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Segment deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >-
        Permutive workspace API key supplied as a bearer token. See
        https://developer.permutive.com/api/authentication for the exact header
        and key-provisioning details.
  responses:
    OK:
      description: Successful response
      content:
        application/json:
          schema: { type: object }
    Created:
      description: Resource created
      content:
        application/json:
          schema: { type: object }
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: The API key does not have access to this resource or operation.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: The requested resource does not exist.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ServerError:
      description: An unexpected error occurred on Permutive's side.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
  schemas:
    Problem:
      type: object
      description: Error payload.
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
    Event:
      type: object
      properties:
        user_id: { type: string }
        name: { type: string }
        properties: { type: object }
        time: { type: string, format: date-time }
      required: [name]
    IdentifyRequest:
      type: object
      properties:
        user_id: { type: string }
        aliases:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              tag: { type: string }
              priority: { type: integer }
    SegmentationRequest:
      type: object
      properties:
        user_id: { type: string }
        events:
          type: array
          items: { $ref: '#/components/schemas/Event' }
        state: { type: object }
    Cohort:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        query: { type: object }
        tags:
          type: array
          items: { type: string }
      required: [name, query]
    Segment:
      type: object
      properties:
        id: { type: string }
        code: { type: string }
        name: { type: string }
        description: { type: string }
        import_id: { type: string }
security:
  - ApiKeyAuth: []
